<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
</head>
<body>
    <form action="/uploadFile" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="file" name="file" class="formControlFile" id="exampleFormControlFile1">
            <input type="submit" class="rd"  value="read the program">
            <button onclick="window.location.href = '/passone'" class="passOne" type="button">pass one</button>
            <button onclick="window.location.href = '/objectcode'" class="object-code" type="button">object code</button>
            <button onclick="window.location.href = '/hterecord'" class="hte" type="button">Create HTE record</button>
        </div>
    </form>
    <table>
        <thead>
          <tr>
            <th>Symbols</th>
            <th>Instructions</th>
            <th>reference</th>
            <th>Pass one</th>
            <th>Object code</th>
          </tr>
        </thead>
        <tbody>
          <% for (let i=0; i<linesArray.length; i++) { %>
            <tr>
              <td><%= linesArray[i].trim().split(/\s+/).length > 2 ? linesArray[i].trim().split(/\s+/)[0] : '' %></td>
              <td><%= linesArray[i].trim().split(/\s+/).length > 2 ? linesArray[i].trim().split(/\s+/)[1] : linesArray[i].trim().split(/\s+/)[0] %></td>
              <td><%= linesArray[i].trim().split(/\s+/).length > 2 ? linesArray[i].trim().split(/\s+/)[2] : linesArray[i].trim().split(/\s+/)[1] %></td>
              <td><%= linesArray[i].trim().split(/\s+/).length > 2 ? linesArray[i].trim().split(/\s+/)[3] : linesArray[i].trim().split(/\s+/)[2] %></td>
              <td><%= passOneAddressesArray[i] %></td>
              <td><%= objectCodeArray[i] %></td>
            </tr>
          <% } %>
        </tbody>
          <% for (let i=0; i<4; i++) { %>
            <tr>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
              <td>--</td>
            </tr>
          <% } %>
          <h1><%=hteRecord%></h1>
      </table>
</body>
</html>